{% extends 'recipe_base.html' %}
{% load static %}

{% block header %}Recipe Details{% endblock %}
{% block title %}{{ object.name }}{% endblock %}
{% block content %}
  <h3>Name: {{ object.name }} by {{ object.author }}</h3>
  <h3>Ingredients:</h3>
  <ul>
    {% for ingredient in object.ingredients.all %}
      <li>{{ ingredient.ingredient.name }}, {{ ingredient.quantity }}</li>
    {% endfor %}
  </ul>
  <div style="display:flex;justify-content:center">
  <a href="/recipes/list">
    <button>Go back to Recipe List</button>
  </a>
</div>
{% endblock %}